<section id="content-chat">
  <div class="titulo">
    <img src="https://qiwise.com.br/sitepad-data/uploads/2023/04/qinsight-logo.png" alt="logo" class="qinsight-logo">
    <h1>Qiwise</h1>
  </div>

  <div id="section-chat"></div>

  <div class="section-input">
    <div class="input">
    <img src="https://qiwise.com.br/sitepad-data/uploads/2023/04/qinsight-logo.png" alt="logo" class="qinsight-logo">
    <textarea type="text" placeholder="Send a message."></textarea><fa-icon [icon]="faPaperPlane" class="icone-enviar"></fa-icon>
  </div>
</div>
</section>

